*,
*::before,
*::after{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    font: inherit;


    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing:grayscale;
}

:root{
    --background: #0D1117;
    --ff-header:"Jetbrains", system-ui, sans-serif; 
    --text-color: #FFFFFF;
    --botons-color: #3B82F6;
    --highlights: #82ea5b;
}

.container{
    max-width: 1280px;
    padding-inline:32px ;
    margin-inline: auto;
}